@media(max-width: 1150px) {
	.header .container {
		width: 1090px;
	}

	.main .container {
		width: 1090px;
	}

	.star .container {
		width: 1090px;
	}

	.making .container {
		width: 1090px;
	}

	.image .container {
		width: 1090px;
	}

	.get .container {
		width: 1090px;
	}

	.omega .container {
		width: 1090px;
	}
}

@media(max-width: 1100px) {
	.header .container {
		width: 1050px;
	}

	.main .container {
		width: 1050px;
	}

	.star .container {
		width: 1050px;
	}

	.star-subtext {
		width: 350px;
	}

	.making .container {
		width: 1050px;
	}

	.image .container {
		width: 1050px;
	}

	.get .container {
		width: 1050px;
	}

	.omega .container {
		width: 1050px;
	}
}

@media(max-width: 1050px) {
	.header .container {
		width: 1000px;
	}

	.main .container {
		width: 1000px;
	}

	.star .container {
		width: 1000px;
	}

	.star-subtext {
		width: 340px;
	}

	.making .container {
		width: 1000px;
	}

	.image .container {
		width: 1000px;
	}

	.get .container {
		width: 1000px;
	}

	.omega .container {
		width: 1000px;
	}
}


@media(max-width: 1000px) {
	.header .container {
		width: 950px;
	}

	.main .container {
		width: 950px;
	}

	.star .container {
		width: 950px;
	}

	.star-subtext {
		width: 320px;
	}

	.making .container {
		width: 950px;
	}

	.making-content {
		width: 380px;
	}

	.image .container {
		width: 950px;
	}

	.get .container {
		width: 950px;
	}

	.omega .container {
		width: 950px;
	}
}


@media(max-width: 950px) {
	.header .container {
		width: 900px;
	}

	.main .container {
		width: 900px;
	}

	.main__wrapper {
		width: 75%;
	}

	.star .container {
		width: 900px;
	}

	.star__wrapper {
		width: 75%;
	}

	.star-subtext {
		width: 320px;
	}

	.making .container {
		width: 900px;
	}

	.making-list {
		width: 75%;
	}

	.image .container {
		width: 900px;
	}

	.get .container {
		width: 900px;
	}

	.omega .container {
		width: 900px;
	}

	.omega-list {
		width: 75%;
	}
}

@media(max-width: 900px) {
	.header .container {
		width: 850px;
	}

	.main .container {
		width: 850px;
	}

	.text-main {
		width: 350px;
	}

	.main-form-input {
		width: 330px;
	}

	.star .container {
		width: 850px;
	}

	.star-subtext {
		width: 300px;
	}

	.making .container {
		width: 850px;
	}

	.making-content {
		width: 340px;
	}

	.image .container {
		width: 850px;
	}

	.get .container {
		width: 850px;
	}

	.omega .container {
		width: 850px;
	}

	.omega-list {
		flex-direction: column;
		height: 60px;
	}

}

@media(max-width: 850px) {
	.header .container {
		width: 800px;
	}

	.main .container {
		width: 800px;
	}

	.text-main {
		width: 300px;
	}

	.main-form-input {
		width: 280px;
	}

	.star .container {
		width: 800px;
	}

	.star-subtext {
		width: 280px;
	}

	.making .container {
		width: 800px;
	}

	.making-content {
		width: 320px;
	}

	.image .container {
		width: 800px;
	}

	.get .container {
		width: 800px;
	}

	.omega .container {
		width: 800px;
	}
}

@media(max-width: 800px) {
	.header .container {
		width: 750px;
	}

	.main .container {
		width: 750px;
	}

	.main__wrapper {
		width: 80%;
	}

	.image-main {
		width: 200px;
	}

	.star .container {
		width: 750px;
	}

	.star__wrapper {
		width: 80%;
	}

	.making .container {
		width: 750px;
	}

	.making-list {
		width: 80%;
	}

	.image .container {
		width: 750px;
	}

	.get .container {
		width: 750px;
	}

	.get-link_social {
		width: 140px;
	}

	.omega .container {
		width: 750px;
	}

	.image-button {
		width: 60px;
		height: 60px;
	}

	.image-play-img {
		width: 15px;
	}

}

@media(max-width: 750px) {
	.header .container {
		width: 700px;
	}

	.main .container {
		width: 700px;
		flex-direction: column;
	}

	.text-main {
		width: 320px;
	}

	.main-subtext {
		margin-top: 10px;
	}

	.main-form {
		margin-top: 15px;
	}

	.main-form-input {
		width: 300px;
		border-radius: 5px;
	}

	.star .container {
		width: 700px;
	}

	.making .container {
		width: 700px;
	}

	.making-content {
		width: 280px;
	}

	.making-link {
		margin-top: 10px;
	}

	.making-find_wrapper {
		width: 240px;
	}

	.find-subtext {
		width: 180px;
	}

	.image .container {
		width: 700px;
	}

	.get .container {
		width: 700px;
	}

	.omega .container {
		width: 700px;
	}
}

@media(max-width: 700px) {
	.header .container {
		width: 650px;
	}

	.main .container {
		width: 650px;
		padding: 20px 0px;
	}

	.text-main {
		width: 300px;
	}

	.main-subtext {
		margin-top: 10px;
	}

	.main-form {
		margin-top: 15px;
	}

	.main-form-input {
		width: 280px;
		padding: 14px 0px 14px 40px;
	}

	.main-form__link {
		padding: 10px 20px;
		right: 23px;
	}

	.main-form__img {
		left: 10px;
	}

	.star .container {
		width: 650px;
	}

	.star-subtext {
		width: 240px;
	}

	.making .container {
		width: 650px;
	}

	.making-content {
		width: 250px;
	}

	.image .container {
		width: 650px;
	}

	.get .container {
		width: 650px;
	}

	.omega .container {
		width: 650px;
	}
}

@media(max-width: 650px) {
	.header .container {
		width: 600px;
	}

	.main .container {
		width: 600px;
		padding: 20px 0px;
	}

	.main__wrapper {
		width: 85%;
	}

	.text-main {
		width: 280px;
	}

	.main-form-input {
		width: 260px;
	}

	.main-form__link {
		padding: 10px 12px;
	}

	.star .container {
		width: 600px;
	}

	.star-subtext {
		width: 220px;
	}

	.making .container {
		width: 600px;
	}

	.making-item {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.making-content {
		width: 400px;
		padding-top: 10px;
	}

	.making-find_wrapper {
		width: 270px;
	}

	.find-subtext {
		width: 210px;
	}

	.image .container {
		width: 600px;
	}

	.get .container {
		width: 600px;
	}

	.omega .container {
		width: 600px;
	}
}

@media(max-width: 600px) {
	.header .container {
		width: 550px;
	}

	.nav-toggle {
		display: inline-block;
	}

	.dropdown {
		display: none;
	}

	.nav-link {
		display: none;
	}

	.main .container {
		width: 550px;
		padding: 20px 0px;
	}

	.main__wrapper {
		flex-direction: column;
		justify-content: center;
	}

	.star .container {
		width: 550px;
		padding: 50px 0px;
	}

	.star-list {
		flex-direction: column;
		align-items: center;
	}

	.star-subtext {
		width: 300px;
	}

	.making .container {
		width: 550px;
		padding: 50px 0px;
	}

	.image .container {
		width: 550px;
	}

	.get .container {
		width: 550px;
	}

	.get .header  {
		padding: 50px 0px;
	}

	.omega .container {
		width: 550px;
	}
}

@media(max-width: 550px) {
	.header .container {
		width: 500px;
	}

	.main .container {
		width: 500px;
		padding: 20px 0px;
	}

	.star .container {
		width: 500px;
		padding: 50px 0px;
	}

	.star-subtext {
		width: 260px;
	}

	.making .container {
		width: 500px;
		padding: 20px 0px;
	}

	.image .container {
		width: 500px;
	}

	.image-button {
		width: 40px;
		height: 40px;
	}

	.image-play-img {
		width: 10px;
	}

	.get .container {
		width: 500px;
	}

	.omega .container {
		width: 500px;
	}
}

@media(max-width: 500px) {
	.header .container {
		width: 450px;
	}

	.main .container {
		width: 450px;
	}

	.star .container {
		width: 450px;
		padding: 20px 0px;
	}

	.making .container {
		width: 450px;
	}

	.image-making {
		width: 200px;
	}

	.making-content {
		width: 330px;
	}

	.making-subtext {
		margin-top: 0;
		margin-bottom: 0;
	}

	.making-find_wrapper {
		margin-top: 10px;
	}

	.image-making-3 {
		width: 260px;
	}

	.image .container {
		width: 450px;
	}

	.get .container {
		width: 450px;
	}

	.get .header {
		padding: 20px 0px;
	}

	.omega .container {
		width: 450px;
	}

	.omega-list {
		height: 50px;
	}
}

@media(max-width: 450px) {
	.header .container {
		width: 400px;
	}

	.main .container {
		width: 400px;
	}

	.image-main {
		width: 180px;
	}

	.star .container {
		width: 400px;
	}

	.making .container {
		width: 400px;
	}

	.image .container {
		width: 400px;
	}

	.image-button {
		width: 30px;
		height: 30px;

	}

	.get .container {
		width: 400px;
	}

	.omega .container {
		width: 400px;
	}
}

@media(max-width: 400px) {
	.header .container {
		width: 350px;
	}

	.main .container {
		width: 350px;
	}

	.image-main {
		width: 150px;
	}

	.text-main {
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main-title {
		text-align: center;
	}

	.main-subtext {
		text-align: center;
		margin: 5px;
	}

	.main-form {
		margin-top: 10px;
	}

	.main-form-input {
		width: 280px;
		padding: 10px 0px 10px 40px;
		border-radius: 5px;
	}

	.main-form__link {
		padding: 7px 16px;
		right: 3px;
	}

	.main-form__img {
		left: 10px;
	}

	.star .container {
		width: 350px;
	}

	.star-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}

	.star-subtext {
		margin-top: 0;
		text-align: center;
	}

	.star-name {
		margin-top: 0;
	}

	.making .container {
		width: 350px;
	}

	.making-content {
		width: 250px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.making-title {
		text-align: center;
		line-height: 45px;
	}

	.making-subtext {
		text-align: center;
		line-height: 20px;
		margin-top: 5px;
	}

	.making-link {
		margin-top: 5px;
	}

	.making-find_wrapper {
		width: 250px;
		flex-direction: column;
		align-items: center;
	}

	.find-text {
		text-align: center;
		padding-top: 5px;
	}

	.find-subtext {
		text-align: center;
	}

	.making-item_second {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.image .container {
		width: 350px;
	}

	.get .container {
		width: 350px;
	}

	.get-title {
		width: 200px;
		line-height: 45px;
	}

	.get-subtext {
		width: 300px;
		line-height: 20px;
	}

	.get-link_social {
		width: 100px;
	}

	.omega .container {
		width: 350px;
	}
}

@media(max-width: 350px) {
	.header .container {
		width: 300px;
	}

	.main .container {
		width: 300px;
	}

	.text-main {
		width: 250px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main-title {
		line-height: 45px;
	}

	.main-subtext {
		line-height: 20px;
	}

	.main-form-input {
		width: 220px;
		padding: 10px 0px 10px 18px;
		font-size: 13px;
		border-radius: 3px;
	}

	.main-form__img {
		width: 15px;
		left: 3px;
	}

	.main-form__link {
		padding: 5px 5px;
		font-size: 15px;
		border-radius: 2px;
	}

	.star .container {
		width: 300px;
		padding: 20px 0px;
	}


	.star-subtext {
		width: 240px;
	}

	.making .container {
		width: 300px;
	}

	.image .container {
		width: 300px;
	}

	.get .container {
		width: 300px;
	}

	.get-title {
		width: 200px;
		line-height: 45px;
	}

	.get-subtext {
		width: 300px;
	}

	.get-link_social {
		width: 100px;
	}

	.omega .container {
		width: 300px;
	}

	.omega-list {
		height: 75px;
	}

	.omega-item {
		width: 280px;
		flex-wrap: wrap;
	}

}

@media(max-width: 300px) {
	.header .container {
		width: 250px;
	}

	.main .container {
		width: 250px;
	}

	.nav {
		padding: 10px 0px;
	}

	.star .container {
		width: 250px;
	}

	.star-subtext {
		width: 220px;
	}

	.star__wrapper {
		width: 100%;
	}

	.making .container {
		width: 250px;
	}

	.image .container {
		width: 250px;
	}

	.get .container {
		width: 250px;
	}

	.get-subtext {
		width: 230px;
	}

	.omega .container {
		width: 250px;
	}

	.omega-item {
		width: 100%;
		flex-direction: column;
	}

	.omega-subtext {
		text-align: center;
	}

	.omega-list {
		height: 130px;
	}
}

@media(max-width: 250px) {
	.header .container {
		width: 95%;
	}

	.main .container {
		width: 95%;
	}

	.star .container {
		width: 95%;
	} 

	.making .container {
		width: 95%;
	}

	.making-content {
		width: 100%;
	}

	.making-title {
		width: 100%;
		font-size: 30px;
		line-height: 32px;
	}

	.image-making {
		width: 160px;
	}

	.making-find_wrapper  {
		width: 100%;
	}

	.find-subtext {
		width: 100%;
	}

	.image-making-3  {
		width: 100%;
		flex-direction: column;
		display: none;	
	}

	.making-img-1 {
		width: 120px;
	}

	.making-img-2 {
		width: 120px;
	}

	.making-img-3 {
		width: 120px;
		margin-right: 8px;
	}

	.making-img-4 {
		width:120px;
	}

	.image .container {
		width: 95%;
	}

	.get .container {
		width: 95%;
	}

	.omega .container {
		width: 95%;
	}
}
